CompileFlags:
  Remove:
    # Fix typos and use wildcards for GCC flags:
    - "-fno-allow-store-data-races*"
    - "-mno-fp-ret-in-387"
    - "-mskip-rax-setup"
    - "-mindirect-branch*"
    - "-mfunction-return=*"
    - "-mpreferred-stack-boundary=*"
    - "-fconserve-stack"
    - "-mrecord-mcount"
    - "-mno-var-tracking-assignments"
  Add:
    - "-Wno-unknown-attributes"
    - "-Wno-unknown-warning-option"
